<% layout('layout/boilerplate') %>
<h1><%= campground.title %></h1>
<h2><%= campground.location %></h2>
<img src="<%= campground.image %>" alt="image of campground">
<p><%= campground.description %> </p>

<p>
    <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
        <button>Delete Campground</button>
    </form>
</p>
<footer>
  <a href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>
  <a href="/campgrounds">Back to All Campgrounds</a>
</footer>

